.box{
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  border-top: 3px solid #d2d6de;
  //margin-bottom: 20px;
  padding-bottom: 20px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  &-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
  }
  &-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
  }
}

.box-primary {
    border-top-color: #3c8dbc;
}

.box-header.with-border {
    border-bottom: 1px solid #f4f4f4;
}

.dashboard {
    display: flex;
    flex-wrap: wrap;
}
.image-block {
    width: 20%;
    background-color: #0c525d;
    margin: 10px;
    img {
        width: 100%;
    }
}
