.header {
    background-color: #0f401b;
    height: 50px;
    display: block;
    padding: 10px 20px;
    h3 {
        color: #fff;
        margin: 0;
    }
}
.container {
    display: flex;
    justify-content: space-between;
    .navbar-collapse {
      .navbar-nav {
          display: flex;
          list-style: none;
          li {
              margin: 10px 20px;
          }
      }
    }
}
